html,body{
    margin:0;
    width:100%;
    height: 100%;
}

body {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #444444;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a:focus, a:hover {
    color:white;
}

.mainColor{
    color: #e52186 !important;
}

/* HEADER */

.header {
    padding: 2px 0;
    background: white;
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    z-index: 99;
}

.header .main-nav .navbar-collapse {
    padding: 0;
}

.header .main-nav .nav .nav-item.last {
    margin-right: 0;
}

.header .main-nav .nav .nav-item {
    font-weight: normal;
    margin-right: 30px;
}
.header .main-nav .nav .nav-item a {
    font-size: 14px;
    padding: 20px 10px;
    color: #e52186;
}

.miniLogo{
    width: 200px;
    margin-top:10px;
}

.navbar-toggle{
    background-color: #e52186 !important;
}

.navbar-toggle span{
    background-color:white;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #FFF;
}

@media screen and (max-width: 767px) {
    .header .main-nav .nav .nav-item a {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left:20px;
    }
}

/* PARALLAX IMAGES */

.bigPicture{
    color:white;
    padding-top: 50px;
}

.indexCopiaFoto {
    background: url('../img/NegozioVB.jpg') no-repeat center center;
    background-size: cover;
}

.indexCelRotto {
    background: url('../img/iPhoneBroken.jpg') no-repeat center center;
    background-size: cover;
}

/* PAGES */

.bigContainer{
    width: 100%;
    min-height: 550px;
    height: 100%;
    padding: 20px;
    text-align: center;
}

.backWhite{
    background: white;
    color: #e52186;
}

.backWhite .description{
    color: black;
}

.backMainColor{
    background: #e52186;
    color: white;
}

.backMainColorDark{
    background: #BD0278;
    color: white;
}

.title{
    font-size: 80px;
    font-weight: 500;
    margin: 165px auto 0 auto;
}

.description{
    font-size: 24px;
    margin: 30px auto;
}

@media screen and (max-width: 767px) {
    .title {
        font-size: 40px;
    }
    
    .description{
        font-size: 16px;
        margin: 15px auto;
    }
}

/* FOOTER */
footer{
    height:200px;
    padding-top:50px;
    text-align:center;
    font-size: 20px;
}

.copyright{
    text-align:center;
    padding:15px;
    -webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    color: #ffffff;
}
.btn-outline {
    margin-top: 15px;
    border: solid 2px white;
    font-size: 20px;
    color: white;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover{
    background: white;
    color: #e52186
}

@media screen and (max-width: 767px) {
    footer{
        height: 440px;
        padding-bottom:20px;
    }
    footer div{
        margin-top:20px;
        margin-bottom:20px;
    }
}

/* Button */
.btn-default, .btn-default.active, .btn-default:active, .btn-default:active:focus, .btn-default:focus{
    color: white;
    background-color: #e52186;
    border-color: #DC0071;
}

.btn-default:hover {
    color: white;
    background-color: #E64E9D;
    border-color: #DC0071;
}