html,body{
    margin:0;
    width:100%;
    height: 100%;
    min-height:100%;
}

body {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #444444;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a:focus, a:hover {
    color:#e52186;
}

/* Remove styling from ios */
a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}

.mainColor{
    color: #e52186 !important;
}

/* HEADER */

.header {
    padding: 2px 0;
    background-color: white;
    width: 100%;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
		transition: background-color 0.5s ease;
}

.header.headInvisible{
	background: none;
	-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
	color:white;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

.header.headInvisible .main-nav .nav .nav-item a{
	color:white;
}

.header.headInvisible .item-xs a{
	color: white !important;
}

.header.headInvisible img{
	visibility: hidden;
}

.header.headInvisible .nav > li > a:focus, 
.header.headInvisible .nav > li > a:hover {
    background: none;
		text-decoration: underline;
}

.header .main-nav .navbar-collapse {
    padding: 0;
}

.header .main-nav .nav .nav-item.last {
    margin-right: 0;
}

.header .main-nav .nav .nav-item {
    font-weight: normal;
    margin-right: 30px;
}
.header .main-nav .nav .nav-item a {
    font-size: 14px;
    padding: 20px 10px;
    color: #e52186;
}

.miniLogo{
    width: 200px;
    margin-top:10px;
}

.miniLogo-xs{
  height: 35px;
  margin-top: 5px;
}

.logo-xs{
  margin:0;
}

.item-xs{
  font-weight: normal;
  margin-left: 8px;
}

.item-xs a{
  font-weight: normal;
  margin-right: 10px;
  color: #e52186;
}

.item-xs .glyphicon{
  font-size:20px;
}

.navbar-toggle{
    background-color: #e52186 !important;
}

.navbar-toggle span{
    background-color:white;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: underline;
    background-color: #FFF;
}

.navbar-toggle{
    margin-top: 13px;
}

@media screen and (max-width: 767px) {
    .header .main-nav .nav .nav-item a {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left:20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 990px){
    header .container {
        width: 100%;
    }
}

/* IMAGES */

.bigPicture{
    color:white;
    padding-top: 50px;
    z-index: 10 !important;
}

.indexCopiaFoto {
    background: url('../img/NegozioVB.jpg') no-repeat center center;
    background-size: cover;
}

.indexCopiaFoto div,
.indexCopiaFoto img{
	animation-delay: 1s;
}

.indexCelRotto {
    background: url('../img/iMacBroken.jpg') no-repeat center center;
    background-size: cover;
}

.indexPcLento{
    background: url('../img/BlueScreen.jpg') no-repeat center center;
    background-size: cover;
}

/* PAGES */

.bigContainer{
    width: 100%;
    min-height: 90%;
    height: auto;
    padding: 20px;
    text-align: center;
    position: relative;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    z-index: 20;
}

.backWhite{
    background: white;
    color: #e52186;
}

.backWhite .description{
    color: black;
}

.backMainColor{
    background: #e52186;
    color: white;
}

.backMainColorDark{
    background: #BD0278;
    color: white;
}

.title{
    font-size: 80px;
    font-weight: 500;
    margin: 165px auto 0 auto;
}

.bigWrite{ /* Come sopra ma senza i margini */
	font-size: 80px;
  font-weight: 500;
}

.positionPointer{
  color: #e52186;
}

.positionPointer:hover, .positionPointer:active, .positionPointer:visited{
  color:#e52186;
  text-decoration: underline;
}

/* *** */
.square-wall{
    position: relative;
    margin-bottom: 10px;
    min-height: 100px;
}

.square-wall .image{
    width: 100%;
    max-width: 150px;
    display: block;
    margin: auto;
}

.square-wall .overlay{
    color: #e52186;
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.wall-hidden{
    background-color: white;
    border-radius: 5px;
    color: #444444;
    box-shadow: inset 0 0 2px lightslategray;
    font-size: 18px;
    padding-top: 20px;
}

.wall-selected{
    border-radius: 10px;
}

.wall-selected .overlay{
    transform: scale(1.5,1.5);
}


/* Reduce top offset in description panels */
.backWhite .title{
    margin-top: 100px;
}

.description{
    font-size: 24px;
    margin: 30px auto;
}

.footerBigCont{
    top:-27px;
    position: absolute;
    margin: 0 auto auto;
    left:0;
    right: 0;
}

.footerBigCont .glyphicon{
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    border-radius: 50%;
    font-size: 20px;
    height: 55px;
    line-height: 55px;
    min-width: 0;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    width: 55px;
    color: #e52186;
    -webkit-animation: bounce 2s 1s 4;
    animation: bounce 2s 1s 4;
    cursor: pointer;
}

.footerBigCont .glyphicon:before{
    display: inline-block;
    vertical-align: middle;
    padding-left: 3px;
}

.footerBigCont .glyphicon:hover{
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    color: #FF0083;
}

.footerBigCont:out{
    -webkit-animation-play-state: running;
    animation-play-state: running;
    color: inherit;
}

@media screen and (max-width: 767px) {
	.title,
	.bigWrite{
		font-size: 40px;
		text-align: center;
  }

	.description{
		font-size: 16px;
		margin: 15px auto;
	}
}

.leftText{
    text-align: left;
}

/* FOOTER */
footer{
    height:200px;
    padding-top:50px;
    text-align:center;
    font-size: 20px;
}

.copyright{
    text-align:center;
    padding:15px;
    -webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

.copyright a{
    color: white;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    color: #ffffff;
}
.btn-outline {
    margin-top: 15px;
    border: solid 2px white;
    font-size: 20px;
    color: white;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover{
    background: white;
    color: #e52186
}

@media screen and (max-width: 767px) {
    footer{
        height: 440px;
        padding-bottom:20px;
    }
    footer div{
        margin-top:20px;
        margin-bottom:20px;
    }
}

/* Button */
.btn-default, .btn-default.active, .btn-default:active, .btn-default:active:focus, .btn-default:focus{
    color: white;
    background-color: #e52186;
    border-color: #DC0071;
}

.btn-default:hover {
    color: white;
    background-color: #E64E9D;
    border-color: #DC0071;
}

.btn-alert, .btn-alert.active, .btn-alert:active, .btn-alert:active:focus, .btn-alert:focus{
    color: #e52186;
    background-color: white;
    border-color: white;
}

.btn-alert:hover {
    color: #e52186;
    background-color: white;
    border-color: white;
}

/* FORM */
.form-control{
    height:auto;
    color: #e52186;
}

.form-control::-webkit-input-placeholder { color: #e52186; }
.form-control:-moz-placeholder { color: #e52186; }
.form-control::-moz-placeholder { color: #e52186; }
.form-control:-ms-input-placeholder { color: #e52186; }

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #9E9E9E;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 1em;
    margin: 0;
    font-size: .85em;
    line-height: 1em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #ffffff;
}
